

@import url("https://fonts.googleapis.com/css2?family=Cardo&family=Josefin+Sans:wght@600&display=swap");


*{
    margin: 0;padding: 0; box-sizing: border-box;
    font-family: "Cardo";
}


/* HERO IMAGE */

#hero {
    /* Sizing */
    /* width: 100vw;
    height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-position: center center;
    font-size: 60px;
    padding-top: 300px;
}
p{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding-bottom: 200px;
    font-family: 'Karla', sans-serif;
}

.subtitle{
    font: 30px;
}

/* Article Copy */

.pic1 {
    background-color: palevioletred;
    border-color: salmon;
    height: 40vh;
    width: 20vw;
    float:right;
    margin-right: 75px;
    margin-top: 400px;
    word-wrap: break-word;
    padding: 10px;
}

.pic2 {
    height: 40vh;
    width: 20vw;
    background-color: peru;
    float:right;
    /* margin-right: px; */
    margin-top: 100px;
    margin-left: 10px;
    word-wrap: break-word;
    padding: 10px;
}
.pic3 {
    height: 40vh;
    width: 20vw;
    background-color: rgb(112, 139, 221);
    float:right;
    /* margin-right: 20px; */
    margin-top: 400px;
    word-wrap: break-word;
    padding: 10px;
    margin-left: 10px;
}

#wildrice {
    height: 40px;

    margin-bottom: 300px;
    float: left;

}
#wildrice2 {
    height: 10vh;
    margin-bottom: 200px;

}
#lupine {
    height: 100px;
    float: right;
    margin-bottom: 70px;

}
#flowers {
    height: 10vh;
}

main{
    margin: 10px;
    font-family: 'Karla', sans-serif;
}

.scroll-container {
    height: 100vh;
    min-height: 450px;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}
.scroll-container.c2 {
    justify-content: center;
}

.scrolled.fade-in-bottom {
    animation: fade-in-bottom 1s ease-in-out both;
}

.scroll-element {
    height: 100px;
    width: 100px;
    background-color: #eaeaea;
    opacity: 0;
    transition: opacity 500ms;
}


.story_para {
    color: black;
    font-family: sans-serif;
    font-size: 24px;
    align-content: center;
    text-align: left;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 300px;
    padding-right: 300px;
    /* margin: 10px auto; */
    line-height: 48px;
    font-family: 'Karla', sans-serif;

}
 
.pull_quote{
    color: #8E4331;
    font-family: "Josefin Sans";
    font-size: 60px;
    text-align: center;
    margin: 40px;
    padding-top: 4vh;
    padding-bottom: 4vh;
    line-height: 10vh;
    align-content: center;
}

footer{
    height: 400px;
    padding: 80px;
    background-color: seagreen;
}

/** Mobile Optimization **/
@media screen and (max-width: 1200px) {
    .story_para{
        max-width: 800px;
        margin: 20px auto;
    }
}

@media (min-width: 1000px) and (max-width: 1200px) {
    #hero-inner h3{
        max-width: 350px;
        margin: 10px;
        color: white;
        text-shadow: 0px 0px 10px #000;
    }
    
    main{
        max-width: 600px;
        margin: auto;
    }

    .pull_quote{
        max-width: 450px;
    }

   
}

@media (min-width: 700px) and (max-width: 999px) {
    
  
    main{
        max-width: 400px;
        margin: 10px;
    }

    .pull_quote{
        max-width: 350px;
        line-height: 3.5vh;
        font-size: 22px;
    }}