body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/*
Add some style blocks below this line to style the card. 
Properties to experiment with:

border
padding
marging
height
width
*/

section{
    border: solid 1px #ccc;
    width: 50%;
  
}
h2{
    margin: 10px;
}

p{
    padding:10px;
 
}

img{
width: 100%;
}
button{
    margin-bottom: 10px;
    margin-left: 10px;
}

@media screen and (max-width: 600px) {
    /*
    body {
        background-color: hotpink;
    }
    */
    section{
        border: none; 
        width: 33%;
        padding: 0px;
    }
}